body{
    background-color: #3F51B5;
}
.container{
    background-color: #fff;
    padding: 0px;
}
.jumbotron{
    background-color: #E91E63;
    color: #fff;
    border-radius: 0px !important;
}

#submitBtn{
     background-color: #E91E63;
    color: #fff;
    border-color: #C2185B;
}

.form-horizontal{
    margin: 15px;
}

.primary-color {
    background: #00548E;
}

.primary-color-text {
    background: #00548E;
}

.accent-color {
    background: #ED7924;
}


.accent-color-text {
    color: #ED7924;
}