body{
    background-color: #3F51B5;
}
.container{
    background-color: #fff;
    padding: 0px;
}
.jumbotron{
    background-color: #E91E63;
    color: #fff;
    border-radius: 0px !important;
}

#submitBtn{
     background-color: #E91E63;
    color: #fff;
    border-color: #C2185B;
}

.form-horizontal{
    margin: 15px;
}